@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Poppins&family=Quicksand:wght@500&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main__button
{
    background-color: rgba(5, 96, 253, 1);
}
.main__email
{
    /* background-image: url(./images/user__email.png); */
    background-repeat: no-repeat;
    padding-left: 10%;   
}
.main__pass
{
    /* background-image: url(./images/vector.png); */
    background-repeat: no-repeat;
    padding-left: 10%;   
}
.main__signup
{
    color: rgba(5, 96, 253, 1);
    text-decoration: underline;
}
.chart__div
{
    background-color: rgb(241,244,249);
}
.chart__color
{
    background-color:rgba(5, 96, 253, 1);
}
.chart__color__secondary
{
    background-color: rgba(221, 228, 238, 1);
}
.chart__team
{
    display: flex;
    align-items: center;
    justify-content: center;
}